.box1{
    border: 3px solid whitesmoke;
    height: 160px;
    margin-left: 100px;
    margin-right: 100px;
  
  }
  .box2{
   background-color: white;
    display: inline-block;
    height: 140px;
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
  
  }
  .box3{
    background-color: white;
    height: 140px;
    width: 58%;
    float: right;
  }
  .box4{
    border: 3px solid whitesmoke;
    height: 280px;
    margin-right: 100px;
    margin-left: 100px;
  }
  .box5{
   height: 260px;
   width: 48%;
   background-color: white;
   display: inline-block;
   border: 2px solid whitesmoke;
  }
  .box6{
    background-color: white;
    height: 260px;
    width: 48%;
    float: right;
    border: 2px solid whitesmoke;
  }
  h1{
    font-size: 15px;
  }
  p{
    font-size: 10px;
  }